# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
      env:
        curesforgeapikey: ${{secrets.IKISUGITEST}}
    - name: Zip create
      run: |
       cd build/libs
       zip release *.*
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: OE-Release
        path: build/libs
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }} 
      with:
          tag_name: ${{ github.ref }}
          release_name: OtyacraftEngine - ${{ github.ref }}
          body: |
            The New Release!
            Build by ${{ github.actor }}
          draft: false
          prerelease: false
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1.0.1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }} 
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/libs/release.zip
          asset_name: OtyacraftEngine.zip
          asset_content_type: application/zip
